<div color="primary">
  <h1>
    {{"label.title" | translate}} {{ title }}!
  </h1>
</div>

<app-message></app-message>

<div>
    <h3>
      {{"label.accountId" | translate}}
        <input type="number"  [(ngModel)]="accountId" (input)="accountIdChange()" name="accountId" />
    </h3>
  </div>

<div id="details" *ngIf="accountId && checkBalanceSucceed" >

  <div>
    <input type="number" placeholder="{{'label.enter.amount' | translate}}" [(ngModel)]="amount" name="amount" />
    <button (click)="deposit()">{{"label.deposit"| translate}}</button>
    <button (click)="withdraw()">{{"label.withdraw"| translate}}</button>
  </div>

  <div>
    {{"label.current.balance" | translate}} <span>{{balance}}</span>
  </div>
</div>
