<div color="primary">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<app-message></app-message>

<div>
  <h3>
  Operating on Account Id: <input type="text" placeholder="Account Id" [(ngModel)]="accountId"
  (input)="accountIdChange()" required name="accountId" />
  </h3>
</div>

<div>
    <input type="text" placeholder="Enter Amount" [(ngModel)]="amount" required name="amount" />
    <button (click)="deposit()">Deposit</button>
    <button (click)="withdraw()">Withdraw</button>
</div>

<div>
  Current balance: <span>{{balance}}</span>
</div>
